@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;

}
.animate-text
{
  text-transform: uppercase;
  background-image: linear-gradient(
          -225deg,
          #231557 0%,
          #44107a 29%,
          #ff1361 67%,
          #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: lightcoral;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 20px;
  background-color:orange;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 30px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 16px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;


}
#header .head-logo{
  width: 100px;
  height: 30px;
}
/*Header start */
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  z-index: 999;
  position: sticky;
  top:0;
  left:0;

}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding:0 20px;
  position: relative;
}
#mobile{
  display: none;
  align-items: center;

}
#close{
  display: none;
}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color:#1a1a1a;
  transition: 1s ease;
}

#navbar li a:hover,
#navbar li a.active{
  color:#088178;
}
#navbar li a.active::after,
#navbar li a:hover::after
{
  content: "";
  width: 40%;
  height: 2px;
  background: #088178 ;
  position: absolute;
  bottom:-4px;
  left:20px;

}
/*Header end*/


/*hero design*/
#hero{
  background-image: url("img/hero4.png");
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4{
  padding-bottom: 15px;
}
#hero h1{
  color:#088178;
}

#hero button{
  background-image: url("img/button.png");
  background-color: transparent;
  color:#088178;
  border:0;
  padding:14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#slider{
  width:100%;


  margin-top: 20px;
  /*max-width: 600px;*/
  height: 500px;
  position:relative;
  overflow:hidden;
  border: 10px solid white;
  /*box-shadow:2px 5px 10px rgba(0,0,0,0.4);;*/
}

.slide{
  width:100%;
  display: none;
  animation-name:fade;
  animation-duration:1s;

}
.slide .ss{
  display: flex;
  justify-content: space-around;
}

.ss-content{
  text-align: center;
  margin-top:200px;
}
.ss-content p{
  font-size: 30px;
}
.ss-content button{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color:black;
  background-color: #088178;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border:none;
  transition: 0.2s;
}
@keyframes fade{
  from{opacity:0.5;}
  to{opacity:1;}
}

.controls{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:1.5em;
  padding:15px 10px;
  border-radius:5px;

}

.controls:hover{
  background:white;
  transition:0.3s;
}

.controls:active{
  color:grey;
}

#left-arrow{
  left:10px;
}

#right-arrow{
  right:10px;
}

#dots-con{

  text-align:center;
}
.dot{
  display:inline-block;
  background:grey;
  padding:8px;
  border-radius:50%;
  margin:10px 5px;
}





/*feature section work*/

#feature{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
 .fe-box {
 display: flex;
   justify-content: space-between;


}
 .fe-box .fe-box-content{
  padding: 20px;
 }
.fe-box .fe-box-content h6{
  white-space: nowrap;
}
.fe-box .fe-box-content p{
  margin-bottom: 10px;
}


.product1{
  text-align: center;
}

.product1 .pro-container{
  /*display: grid;*/
  /*grid-template-columns: repeat(3,1fr);*/
  /*grid-gap:3px;*/

  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  flex-wrap: wrap;
  padding: 50px;
}
/*product1 per product css*/
.product1 .pro{
  width: 23%;
  min-width: 250px;
  padding:10px 12px;
  border:1px solid #cce7d0;
  border-radius: 25px;
  /*everytime when i hover so main class will take cursor pointer css*/
  cursor: pointer;
  /*x,y,radius and rgba*/
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  margin:15px 0;
  /*for smooth transition*/
  transition: 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
}
.product1 .pro:hover  {
  box-shadow: 20px 20px 30px rgba(0,0,0,0.06);

}
.product1 .pro img{
  width: 100%;
  border-radius: 20px;
  transition: transform .2s; /* Animation */

}
.product1 .pro img:hover{
  transition: 0.4s ease-out;
  transform: scale(0.9);
}
.product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

.product1 .pro .des span{
  color:#606063;
  font-size: 12px;
}
.product1 .pro .des h5{
  padding-top: 7px;
  color:#1a1a1a;
  font-size: 14px;
}
.product1 .pro .des i{
  font-size: 12px;
  color:rgb(243,181,25);
}
.product1 .pro .des .c{
  font-size: 12px;
  color: #088178;

}
.product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color:#088178;
}

.product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  text-align: center;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom:20px;
  right: 10px;

}
.mySidenav {
  position: absolute;
  top: 50px;
  right: -150px;
  transition: 0.3s;
}
.mySidenav a{
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

}
.product1 .pro:hover .mySidenav{
  right: 0;
}


.mySidenav a:hover {
  right: 0;
}

.heart {
  top: 50px;
  background-color: black;
}

.eye {
  top: 100px;
  background-color: black;
}
.bag {
  top: 150px;
  background-color: black;
}

/*product card design end*/


/*Hero2 section design start*/

.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  /*width: 100%;*/
  height: 40vh;
  background-color: #088178;
  margin-right: 100px;
  margin-left:100px ;
  border-radius: 15px;

}
.banner h4{
  color:white;
  font-size: 16px;

}

.banner h2{
  color:white;
  font-size: 30px;
  padding:10px 0;

}

.banner h2 span{
 color :red;

}
.banner .btn{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color:black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border:none;
  transition: 0.2s;
}
.banner .btn:hover{
  background-color: #088178;
}


/*Hero2 section design end*/

/*New arival start*/
.newar{
  margin-top: 50px;
}


/*New arival end*/
/*small banner design start*/
.sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 181px;
}
.sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-image: url("img/banner/b17.jpg");
  min-width:700px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding:30px;
  margin-bottom: 120px;
  transition: transform .2s

}
.sm-banner .banner-box:hover{
  transform: scale(1.1);
}
.sm-banner .bannerbox-2{
  background-image: url("img/banner/b10.jpg");
}
.sm-banner h4{
  color:white;
  font-size: 20px;
  font-weight: 300;
}

.sm-banner h2{
  color:white;
  font-size: 28px;
  font-weight: 800;
}

.sm-banner span{
  color:white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

.sm-banner .banner-box .btn1{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color:white;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border:1px solid white;
  transition: 0.2s;
}
.sm-banner .banner-box .btn1:hover{
  background: #088178;
  border: 1px solid #088178;
}
/*small banner design end*/

/*banner3 work start*/
.banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:50px;

}
.banner3 .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-image: url("img/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding:20px;
  margin-bottom: 20px;
  transition: transform .2s

}
.banner3 .banner-box:hover{
  transform: scale(1.1);
}
.banner3 .banner-box2{
  background-image: url("img/banner/b4.jpg");
}

.banner3 .banner-box3{
  background-image: url("img/banner/b18.jpg");
}
.banner3 h2{
  color:white;
  font-weight: 900;
  font-size: 22px;
}
.banner3 h3{
  color:red;
  font-weight: 800;
  font-size: 15px;
}



/*banner 3 work end*/


.newsbox{
  display: none;
}

/*footer design*/
.foot{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.foot .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.foot .logo{
  margin-bottom: 30px;
  width: 100px;
  height: 30px;

}
.foot h4{
  font-size: 14px;
  padding-bottom: 20px;
}
.foot p{
  font-size: 13px;
  margin:0 0 8px 0
}
.foot a{
  font-size: 13px;
  text-decoration: none;
  color:black;
  margin-bottom: 10px;
}
.copyright{

  text-align: center;
  width: 100%;
}

.foot .follow{
  margin-top: 20px;
}
.foot .follow i{
  color:#465b52;
  padding-right: 4px;
  cursor:pointer;
}
.foot .install .row img{
  border: 1px solid #088178;
  border-radius: 6px;
}
.foot .install img{
  margin:10px 0 15px 0;
}
.foot .follow i:hover, .foot a:hover{
  color:#088178;
}

/*footer end*/


/*media query start*/





/*work form single product page*/
#prodetails{
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-img{
  width: 30%;
  margin-right: 50px;
}
.small-img-group{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4{
  padding:40px 0 20px 0;
}

#prodetails .single-pro-details h2{
  font-size: 26px;
}
#prodetails .single-pro-details  select{
  display: block;
  padding:5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details  input{
width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
/*for remove outline thats why i add focus */
#prodetails .single-pro-details  input:focus{
  outline: none;
}
#prodetails .single-pro-details button{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color:black;
  background-color: #088178;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border:none;
  color:white;

}
#prodetails .single-pro-details  span{
  line-height: 25px;
}
/*#single product page working is done*/


/*cart page work*/
#cart{
  overflow-x: auto;
}
#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img{
  width: 70px;
}

#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2){
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3){
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input{
  width: 70px;
  padding:10px 5px 10px 15px;
}
#cart table thead{
  border: 1px solid white;
  border-left: none;
  border-right: none;
}
#cart table thead td{
  font-weight: 780;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td{
  padding-top: 15px;
}
#cart table tbody td{
  font-size: 13px;
}

#coupon button{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color:black;
  background-color: #088178;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border:none;
  color:white;

}

#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon{
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,
#subtotal {
  padding-bottom: 15px;
}
#coupon input{
  padding:10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border:1px solid  #e2e9e1;
}

#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border:1px solid  #e2e9e1;
  padding:30px;
}

#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td{
  width: 50%;
  border:1px solid #e2e9e1;
  padding:10px;
  font-size: 13px;
}
#subtotal #btn{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color:black;
  background-color: #088178;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border:none;
  color:white;
}



/*contact us page style*/


#main{
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-con {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header-con {
  margin-bottom: 50px;
  text-align: center;
}

.section-header-con h2 {
  color: black;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header-con p {
  color: black;
}

.row  {
  display: flex;
  flwx-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: black;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #00bcd4;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #088178;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  color: #00bcd4;
}

@media (max-width: 991px) {
  #main {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
  }

  .row {
    flex-direction: column;
  }

  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }
}


/*responsive work*/
@media (max-width: 799px) {
  .section-p1{
    padding: 40px 40px;
  }
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top:0;
    right:-300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;

  }
  #navbar.active{
    right: 0px;
  }
  #navbar li{
    margin-bottom: 25px;
  }
  #mobile{
    display: flex;
    align-items: center;

  }
  #mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;

  }
  #close{
    display: initial;
    position: absolute;
    top:30px;
    left: 30px;
    color: black;
    font-size: 24px;
  }
  #lg-bag{
    display: none;
  }

  /*hero section work*/
  #hero {

    height: 70vh;

    padding: 0 80px;
    background-position: top 30% right 30%;

  }
  /*feature section work*/
  #feature {

    justify-content: center;

  }

  #feature .fe-box {

    margin: 15px 15px;
  }
  /*product section work*/
  .product1 .pro-container{
    justify-content: center;
  }
  .product1 .pro{
    margin:15px;
  }
  /*banner work*/
  .banner{
    height: 50vh;
  }
  /*small banner work*/
  .sm-banner .banner-box{
    min-width: 100%;
    height: 50vh;
    padding: 40px;
  }
  /*banner 3 work*/
  .banner3{
    padding: 0 40px;
  }
  .banner3 .banner-box{
    width: 30%;
  }
}

/*responsive for mobile device*/

@media (min-width: 425px) and (max-width: 575px) {
  .section-p1{
    padding: 0px;
  }
  #header{
    padding: 10px 30px;
  }
  /*work for hero section*/
  h2{
    font-size: 32px;
  }
  h1{
    font-size: 38px;
  }
  #hero {

    padding: 0 20px;
    background-position: 55%;

  }
  /*feature section work*/
  #feature{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 14px;
  }
  #feature img{
    width: 70px;
    height: 70px;

  }
  #feature .fe-box {
    width: 150px;
    margin:0 0 15px 0;


  }
  .side .ss{
    display: flex;
    flex-direction: column;
  }
  .product1 .pro-container{
    padding: 2px;
  }

  /*product section work*/
  .product1 .pro{
    width: 100%;
  }

  .banner {
    height: 29vh;
    width: 95%;

    margin: auto;
    margin-top: 20px
  }
  .sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 7px;
  }
  .sm-banner .banner-box{
    height: 40vh;
    padding: 40px;
    width: 100%;
  }
  .banner3{
    padding: 0px;
  }
  .banner3 .banner-box{
    width: 100%;
  }

  .banner .btn {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 40px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.2s;
  }

  .foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 13px;
  }
  .copyright{
    text-align: left;
    width: 80%;
    padding: 14px;
  }

  /*single product page responsive work for small device*/
  #prodetails{
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-img{
    width: 100%;
    margin-right: 0px;
  }

  #prodetails .single-pro-details{
    width: 100%;

  }

  /*cart page responsive*/
  #cart-add{
    flex-direction: column;
  }
  #coupon{
    width: 100% !important;
    margin-left: 25px !important;

  }
  #coupon h3{
    margin-left: 115px !important;
  }
  #coupon button {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 40px;
    color: black;
    background-color: #088178;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
  }
  #subtotal{
    width: 100% !important;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
  }

  #subtotal #btn {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 103px;
    color: black;
    background-color: #088178;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
  }
}